/* Custom styles for the slider */
.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: rgb(var(--primary));
  opacity: 0.25;
}

.slick-dots li.slick-active button:before {
  color: rgb(var(--primary));
  opacity: 1;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:hover,
.slick-next:hover {
  color: rgb(var(--primary));
}

